.body {
    font-family: "inter", sans-serif;
}

p {
    font-family: "inter", sans-serif;
    line-height: 1.7em;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #28A2A9;
    font-weight: 600;
    font-family: "inter", sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 1.7em;
}

h2 {
    font-size: 36px;
    color: #28A2A9;
    line-height: 1.7em;
}

h3 {
    font-size: 26px;
    color: #001C3D;
    line-height: 1.7em;
}

h4 {
    font-size: 24px;
    color: #001C3D;
    line-height: 1.7em;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


img {
    width: 100%;
    height: auto;
    margin: auto;
}

div#navbarSupportedContent {
    justify-content: end;
}

.bg-dark {
    background-color: #ffffff !important;
}

#logsedf {
    width: 70%;
}

.navbar-nav .nav-link {
    color: #000;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7em;
    padding: 6px 15px !important;
}

.navbar-brand {
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.active,
.nav-link:hover {
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #28A2A9 !important;
}

.navbar-brand:hover {
    color: #28A2A9;
}

ul.dropdown-menu.show li {
    border-bottom: 1px solid #28A2A9;
    padding: 10px 10px;
}

ul.dropdown-menu.show li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'inter', sans-serif;
}


ul.dropdown-menu.show li:hover {
    background-color: #28A2A9;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 15rem;
    padding: 0 0;
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: #efefef;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.25rem;
}

.tophead-social {
    float: right;
    margin-bottom: -15px;
}

.tophead-social ul {
    padding: 0px 0px;
}

.tophead-social ul li {
    display: inline-block;
    margin: 0;
    border-radius: 6px;
    color: #ffffff;
}

.tophead-social ul li a {
    color: #ffffff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'inter', sans-serif;
}

.paraxdotop-header {
    background-color: #001C3D;
    width: 100%;
    height: auto;
    padding: 0px 0px;
}

.tophead-text {
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    float: left;
}

.header-top-nav.list-inline li {
    display: inline-block;
}

.header-top .header-top-nav .menu-item {
    padding: 0;
}

.element {
    float: right;
}

.element ul {
    margin-top: 0px;
    margin-bottom: 4px;
    color: #fff;
}

.element ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding: 0px 10px;
}

.header-top .header-top-nav .menu-item a {
    color: #fff;
    position: relative;
}

.ico-col {
    color: #fff;
}

.home-banner-section {
    background: url(../images/benner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0;
    height: auto;
    min-height: 266px;
    clear: both;
}

.benner-text h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    color: #30BFBF;
    text-transform: uppercase;
}

.benner-text h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.benner-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    color: #fff;
}

.conttext-section {
    padding: 40px;
    width: 100%;
    height: auto;
}

.btns-border {
    border: 3px dashed #001C3D
}

.btn-primary {
    background-color: #23CDCF;
    color: #001C3D;
    text-transform: uppercase;
    border: #23CDCF;
}

.btn-primary:hover {
    background-color: #23CDCF;
    color: #001C3D;
    text-transform: uppercase;
    border: #23CDCF;
}

.border-bottom {
    border-bottom: 2px dashed #001C3D !important;
}

.we-offer h2 {
    text-align: center;
    color: #001C3D;
}

.weofferlist ul li {
    color: #333333;
    text-decoration: none;
    list-style: none;
    padding: 6px 0;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.weofferlist ul li::before {
    content: "";
    left: -30px;
    top: -73px;
    background-image: url(../images/tick.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 184px;
    position: absolute;
}

.blogimg img {
    width: 100%;
    height: auto;
    margin: auto;
}

.content-text {
    text-align: center;
}

.content-text h3 {
    color: #189A9A;
    font-weight: 600;
}

.content-text p {
    color: #000;
    font-weight: 500;
}

.book-section {
    background-color: #30BFBF;
    margin-bottom: 8px;
    padding: 40px;
}

.btn-secondary {
    background-color: #001C3D;
    border: #001C3D;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-secondary:hover {
    background-color: #001C3D;
    border: #001C3D;
    color: #FFFFFF;
}

.footer-section {
    background-color: #001C3D;
    padding: 40px;
    width: 100%;
    height: auto;
}

#footerlogo {
    width: 70%;
}

.widget h2 {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: "inter", sans-serif;
    font-style: normal;
    line-height: 160.4%;
    text-transform: uppercase;
}

.widget_content ul {
    padding: 0px 8px;
}

.widget_content ul li {
    list-style: none;
    padding: 3px 3px;
}

#foot-icon {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.widget_content ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "inter", sans-serif;
    padding-left: 10px;
}

.footerb-text p {
    color: #5e5e5e;
    text-align: center;
    font-family: "inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
}

.serimg img {
    width: 100%;
    height: auto;
    margin: auto;
}

.ser-text h3 {
    color: #189A9A;
    font-weight: 600;
}

.ser-text p {
    color: #000;
    font-weight: 500;
    line-height: 1.7em;
}

/* New Style here */


.main-heading {
    background: #28A2A9;
}

.main-heading h1 {
    color: white;
}

.booking-section h1 {
    color: #001C3D;
    font-weight: 800;
    font-size: 28px;
}

.booking-section label {
    font-size: 18px;
    font-weight: 700;
}

.booking-input,
.booking-section textarea {
    background-color: #DEDEDE;
    border-radius: 8px;
    border: none;
    margin: 16px 0;
}

.booking-input {
    height: 48px;
}

.booking-checkbox {
    background-color: #DEDEDE;
    width: 16px;
    height: 16px;
}

.contact-section .contact-form {
    background-color: #C3BFBF;
    border: solid 2px #378D9B;
    border-radius: 8px;
}

.contact-section .contact-form .input {
    background-color: #fff;
    border-radius: 8px;
    border: none;
    margin: 16px 0;
    color: #000;
}
.logo-img{
    max-width: 300px;
    margin: auto;
}



@media screen and (min-width: 769px) and (max-width: 991px) {
    a.nav-link {
        margin-left: 0;
        font-size: 14px;
        font-family: "inter", sans-serif;
        color: #ffffff !important;
        height: 37px;
        padding: 23px 0;
        background-color: #001C3D !important;
        text-align: center;
    }

    #logsedf {
        width: 55%;
    }

    .tophead-text {
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
    }

    .element ul li a {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        padding: 0px 5px;
    }

    .home-banner-section {
        background: url(../images/benner.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 55px 0;
        height: auto;
        min-height: 266px;
        clear: both;
    }

    h3 {
        font-size: 22px;
        color: #001C3D;
        line-height: 1.7em;
    }

    .conttext-section {
        padding: 30px;
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 32px;
        color: #28A2A9;
        line-height: 1.7em;
    }

    .main-heading h1 {
        font-size: 50px;
        color: white;
    }

    .booking-section label {
        font-size: 13px;
        font-weight: 700;
    }

    #footerlogo {
        width: 59%;
        margin-bottom: 30px;
    }



}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .navbar .navbar-brand {
        width: 70%;
    }

    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: center;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #fff !important;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        font-family: "inter", sans-serif;
    }

    a.nav-link {
        margin-left: 0;
        font-size: 14px;
        font-family: "inter", sans-serif;
        color: #ffffff !important;
        height: 37px;
        padding: 23px 0;
        background-color: #001C3D !important;
        text-align: center;
    }

    .navbar-brand {
        font-weight: 300;
        font-size: 10px;
    }

    #logsedf {
        width: 50%;
    }

    .tophead-text {
        display: none;
    }

    .home-banner-section {
        background: url(../images/benner.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 55px 0;
        height: auto;
        min-height: 266px;
        clear: both;
    }

    h3 {
        font-size: 22px;
        color: #001C3D;
        line-height: 1.7em;
    }

    .conttext-section {
        padding: 30px;
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 32px;
        color: #28A2A9;
        line-height: 1.7em;
    }

    .main-heading h1 {
        font-size: 50px;
        color: white;
    }

    .booking-section label {
        font-size: 13px;
        font-weight: 700;
    }

    #footerlogo {
        width: 59%;
        margin-bottom: 30px;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .navbar .navbar-brand {
        width: 70%;
    }

    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: center;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #fff !important;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        font-family: "inter", sans-serif;
    }

    a.nav-link {
        margin-left: 0;
        font-size: 14px;
        font-family: "inter", sans-serif;
        color: #ffffff !important;
        height: 37px;
        padding: 23px 0;
        background-color: #001C3D !important;
        text-align: center;
    }

    .navbar-brand {
        font-weight: 300;
        font-size: 10px;
    }

    #logsedf {
        width: 50%;
    }

    .tophead-text {
        display: none;
    }

    .conttext-section {
        padding: 15px;
        width: 100%;
        height: auto;
    }

    .footer-section {
        background-color: #001C3D;
        padding: 25px;
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 24px;
        color: #28A2A9;
        line-height: 1.7em;
    }

    h3 {
        font-size: 22px;
        color: #001C3D;
        line-height: 1.7em;
    }

    .booking-section h1 {
        color: #001C3D;
        font-weight: 800;
        font-size: 24px;
    }

    .main-heading h1 {
        font-size: 30px;
        color: white;
        font-weight: 700;
    }

    .booking-checkbox {
        background-color: #DEDEDE;
        width: 25px;
        height: 25px;
    }

    .booking-section label {
        font-size: 14px;
        font-weight: 600;
    }

    .weofferlist ul li::before {
        left: -22px;
        top: -73px;
        width: 14px;
        height: 175px;
    }

    .home-banner-section {
        background: url(../images/benner.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 10px;
        height: auto;
        min-height: 200px;
        clear: both;
    }

    .benner-text h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 61px;
        letter-spacing: 0em;
        color: #30BFBF;
        text-transform: uppercase;
    }

    .benner-text h2 {
        font-size: 27px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .benner-text p {
        font-size: 12px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: 0em;
        color: #fff;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1380px) {
    a.nav-link {
        margin-left: 0px;
        font-size: 11px;
        font-family: "inter", sans-serif;
        color: #000;
        height: 37px;
    }

    #logsedf {
        width: 55%;
    }

}