.body {
  font-family: "inter", sans-serif;
}

p {
  font-family: "inter", sans-serif;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #28A2A9;
	font-weight: 600;
	font-family: "inter", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
  color: #001C3D;
}

h4 {
	font-size: 24px;
  color: #001C3D;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Cairo", sans-serif;
	color: #1F1F1F;
	font-weight: 500;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
  width: 100%;
  height: auto;
  margin: auto;
}

div#navbarSupportedContent {
    justify-content: end;
} 
.bg-dark{
    background-color: #ffffff !important;
}
#logsedf{
    width: 70%;
}
.navbar-nav .nav-link {
    color: #000;
    font-family: 'inter' , sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7em;
    padding: 6px 15px !important;
}
.navbar-brand {
    font-family: 'inter' , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
.active, .nav-link:hover {
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #28A2A9 !important;
}
.navbar-brand:hover{
    color: #28A2A9;
}

ul.dropdown-menu.show li{
    border-bottom: 1px solid #28A2A9;
    padding: 10px 10px;
}

ul.dropdown-menu.show li a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family:  'inter', sans-serif;
}


ul.dropdown-menu.show li:hover{
    background-color: #28A2A9;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 15rem;
    padding: 0 0;
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: #efefef;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.25rem;
}

.tophead-social {
    float: right;
    margin-bottom: -15px;
}
.tophead-social ul {
    padding: 0px 0px;
}
.tophead-social ul li {
    display: inline-block;
    margin: 0;
    border-radius: 6px;
    color: #ffffff;
}
.tophead-social ul li a {
    color: #ffffff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'inter', sans-serif;
}
.paraxdotop-header{
    background-color: #333333;
    width: 100%;
    height: auto;
    padding: 0px 0px;
}
.tophead-text{
    font-family: 'inter' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    float: left;
}
.header-top-nav.list-inline li {
    display: inline-block;
}
.header-top .header-top-nav .menu-item {
    padding: 0;
}
.element{
    float: right;
}
.element ul{
    margin-top: 0px;
    margin-bottom: 4px;
    color: #fff;
}
.element ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding: 0px 10px;
}
.header-top .header-top-nav .menu-item a {
    color: #fff;
    position: relative;
}
.ico-col{
    color: #fff;
}
.home-banner-section {
    background: url(../images/benner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0;
    height: auto;
    min-height: 266px;
    clear: both;
}
.benner-text h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    color: #30BFBF;
    text-transform: uppercase;
}
.benner-text h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.benner-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    color: #fff;
}



@media screen and (min-width: 769px) and (max-width: 991px) {
    a.nav-link {
        margin-left: 0;
        font-size: 14px;
        font-family: "inter", sans-serif;
        color: #ffffff !important;
        height: 37px;
        padding: 23px 0;
        background-color: #A32CCA !important;
        text-align: center;
    }
    #logsedf{
        width: 55%;
    }
    .tophead-text {
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
    }
    .element ul li a {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        padding: 0px 5px;
    }

    

}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .navbar .navbar-brand {
        width: 70%;
    }
    .navbar-expand-sm .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: center;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #fff !important;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        font-family: "inter", sans-serif;
    }
    a.nav-link {
        margin-left: 0;
        font-size: 14px;
        font-family: "inter", sans-serif;
        color: #ffffff !important;
        height: 37px;
        padding: 23px 0;
        background-color: #A32CCA !important;
        text-align: center;
    }
    .navbar-brand {
        font-weight: 300;
        font-size: 10px;
    }
    #logsedf {
        width: 50%;
    }
    .tophead-text{
        display: none;
    }
    .slider-section {
        width: 100%;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar .navbar-brand {
        width: 70%;
  }
  .navbar-expand-sm .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: center;
  }
  .navbar-dark .navbar-nav .nav-link {
        color: #fff !important;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        font-family: "inter", sans-serif;
  }
  a.nav-link {
        margin-left: 0;
        font-size: 14px;
        font-family: "inter", sans-serif;
        color: #ffffff !important;
        height: 37px;
        padding: 23px 0;
        background-color: #A32CCA !important;
        text-align: center;
  }
  .navbar-brand {
        font-weight: 300;
        font-size: 10px;
  }
  #logsedf {
        width: 50%;
  }
  .tophead-text{
        display: none;
  }
  .slider-section {
        width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1380px) {
    a.nav-link {
        margin-left: 0px;
        font-size: 11px;
        font-family: "inter", sans-serif;
        color: #000;
        height: 37px;
    }
    #logsedf{
        width: 55%;
    }
    
}